:root {
  --dark-bg: ##00003D;
  --light-bg: ##00003D;
  --primary-color: #48212C;
  --secondary-color: #513331;
  --third-color: #5808BC;
  --fourth-color: #2C37FE;
  --text-color: #FFF;
  --text-secondary: #FFF;
  --text-color-dark: #FFF;
  --text-color-light: #FFF;
  --title-color: #FFF;
  --border-color: #191950;
  --border-color-dark: #191950;
  --border-color-light: #191950;
  --shadow: 10px 12px 48px rgba(181, 187, 203, 0.206);
}

html {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  margin: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
  touch-action: pan-y, pan-x;
  transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}
