:root {
	--background: #020F0F;
	--primary-color: #000029;
	--secondary-color: #23001E;
	--third-color: #00FA9A;
	--fourth-color: #FF5733;
	--fifth-color: #FFBA49;
	--text-color: #FFF;
	--border-color: #000064;
	--blue-shadow: -1px 1px 0 rgba(0, 230, 227, 0.8),
			1px 1px 0 rgba(0, 230, 227, 0.8),
			1px -1px 0 rgba(0, 230, 227, 0.8),
			-1px -1px 0 rgba(0, 230, 227, 0.8),
			0 0 10px rgba(0, 230, 227, 0.8),
			0 0 15px rgba(0, 230, 227, 0.8),
			0 0 20px rgba(0, 230, 227, 0.8);
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	-webkit-text-stroke: 1px #000;
	color: var(--text-color);
	margin: 0 !important;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0 !important;
	touch-action: pan-y, pan-x;
	transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 2100px) {
	.container {
		max-width: 1600px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}