:root {
	--background: #020F0F;
	--primary-color: #00003D;
	--secondary-color: #23001E;
	--third-color: #00FA9A;
	--fourth-color: #FF5733;
	--text-color: #FFF;
	--title-color: #A6EDF3;
	--border-color: #191950;
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--text-color);
	margin: 0 !important;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0 !important;
	touch-action: pan-y, pan-x;
	transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 2100px) {
	.container {
		max-width: 1600px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}