.a-wrapper .container {
	padding-top: 5.2rem;
	margin-bottom: -5.5rem;
}

.a-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.a-container > div {
	flex: 1;
}

.a-left {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-left: 1rem;
}

.a-left .head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.a-left .head .title {
	text-align: left;
	line-height: 3.1rem;
}

.a-features {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.a-feature {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 28rem;
}

.a-feature .desc {
	color: var(--third-color);
}

.a-feature .text {
	text-align: justify;
}

.a-right {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.a-right video {
	padding-top: 1rem;
	max-width: 28rem;
	border-radius: 2rem;
}

.a-link {
	color: var(--text-color);
	-webkit-text-stroke: 1px rgba(0, 230, 227, 0.8);
	text-shadow: 0 0 10px rgba(0, 230, 227, 0.8);
	text-decoration: none;
}

@media (max-width: 990px) {
	.a-wrapper .container {
		margin-bottom: -7.8rem;
	}
	.a-wrapper .container {
		padding-top: 3.4rem;
	}
	.a-container {
		flex-direction: column;
		padding: 2rem;
	}
	.a-left {
		padding-left: 0rem;
	}
	.a-right {
		align-self: center;
		margin-top: 2rem;
	}
	.a-right video {
		max-width: 20rem;
	}
}