.n-wrapper {
	background-color: var(--primary-color);
	width: 100%;
	position: absolute;
	z-index: 999;
}

.sticky {
	position: fixed;
	background: var(--background);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
	top: 0;
}

.sticky .n-container {
	padding: 1rem;
}

.n-container {
	padding: 1.5rem 1rem;
	color: #FFF;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
}

.n-logo {
	font-weight: 400;
	cursor: pointer;
	font-size: 2.6rem;
}

.n-right {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	font-size: 2.2rem;
}

.n-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

.n-menu span {
	cursor: pointer;
}

.nm-container {
	display: none;
}

.nm-container span {
	cursor: pointer;
}

.nm-menu span {
	cursor: pointer;
}

@media (max-width: 1200px) {
	.n-container {
		display: none;
	}
	.nm-container {
		display: block;
		color: #FFF;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		position: relative;
		background-color: var(--primary-color);
	}
	.nm-container>:nth-child(1) {
		font-weight: 400;
		font-size: 2.6rem;
	}
	.nm-menu {
		position: fixed;
		top: 3.9rem;
		padding: 3rem 2rem;
		box-sizing: border-box;
		left: 0;
		display: flex;
		background: var(--primary-color);
		flex-direction: column;
		transform: translateX(-150%);
		transition: all 300ms ease-in-out;
		width: 100%;
		font-size: 2.2rem;
		text-transform: uppercase;
		z-index: 99;
		height: calc(100vh - 3.9rem)
	}
	.nm-menu a {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--border-color);
	}
}